# System files
.DS_Store
*.pem

# Editor directories and files
.idea/
.vscode/
*.swp

# Misc
*.log*
*.tsbuildinfo
.secret-*
**.sample

node_modules/

#amplify-do-not-edit-begin
packages/frontend/amplify/\#current-cloud-backend
packages/frontend/amplify/.config/local-*
packages/frontend/amplify/logs
packages/frontend/amplify/mock-data
packages/frontend/mplify/mock-api-resources
packages/frontend/amplify/backend/amplify-meta.json
packages/frontend/amplify/backend/.temp
packages/frontend/.next/
packages/frontend/dist/
packages/frontend/node_modules/
packages/frontend/aws-exports.js
packages/frontend/awsconfiguration.json
packages/frontend/amplifyconfiguration.json
packages/frontend/amplifyconfiguration.dart
packages/frontend/amplify-build-config.json
packages/frontend/amplify-gradle-config.json
packages/frontend/amplifytools.xcconfig
packages/frontend/.secret-*
packages/frontend/**.sample
#amplify-do-not-edit-end
